*{
    padding: 0;
    margin: 0;
}

body{
  overflow-x: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #ccc;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee span {
  font-size: 16px;
  font-weight: 500;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.nav-items a:hover{
  transform: scale(1.1);
}

.logo {
  cursor: pointer;
  color: #ccc;
  transition: all ease .25s
}

.logo:hover {
  font-size: 27px;
  color: #fff;
}

.nav-items {
  user-select: none;
}

.nav-items a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  margin-inline-start: 20px;
  transition: all ease .25s;
}

.nav-items li:hover{
  transform: scale(1.1);
}

nav img{
  height: 190px;
  width: 210px;
}

.nav-items .cart{
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}

.main-text{
  height: 15vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-text .yourcart{
  font-size: 30px;
  font-family: ital;
  font-weight: 400;
}

.cart-container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.cart-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 18px 10px;
  padding: 20px 14px;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 20px -2px grey;
}

.cart-item img{
 width: 70%;
 border-radius: 12px;
 box-shadow: 4px 4px 20px -2px grey;
 margin-left: 10px;
}

.cart-info{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-info p{
  font-family: ital;
  font-weight: 400;
}

.cart-info .removeitem{
  height: 30px;
  width: 90px;
  background-color: white;
  color: color;
}

.cart-info .removeitem:hover{
  background-color: black;
  color: white;
  transform: all 0.4s ease;
}