*{
  padding: 0;
  margin: 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #ccc;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee span {
  font-size: 16px;
  font-weight: 500;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.nav-items a:hover{
  transform: scale(1.1);
}

.shop-div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: ital;
  cursor: pointer;
}

.shop-div p{
  font-size: 15px;
  font-family: ital;
  font-weight: 600;
  font-size: larger;
  margin: auto;
}

.logo {
  cursor: pointer;
  color: #ccc;
  transition: all ease .25s
}

.logo:hover {
  font-size: 27px;
  color: #fff;
}

.nav-items {
  user-select: none;
}

.nav-items a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  margin-inline-start: 20px;
  transition: all ease .25s;
}

.nav-items li:hover{
  transform: scale(1.1);
}

nav img{
  height: 190px;
  width: 210px;
}

.main-head{
  margin-top: 50px;
  width: 100vw;
  text-align: center;
}

.main-head .productstag{
  font-size: 35px;
  font-family: ital;
}

.product-container{
  height: 100vh;
  width: 100%;
}

.product-container img{
  height: auto;
  width: 100%;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* Hidden off screen */
  width: 280px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: left 0.3s ease;
  padding: 20px;
}

/* Show sidebar */
#sidebar.active {
  left: 0;
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Close icon */
#close-sidebar {
  font-size: 24px;
  cursor: pointer;
}

/* Hamburger icon */
#hamburger {
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  z-index: 1000;
}

/* Sidebar links */
.sidebar-links {
  list-style: none;
  padding: 20px 0 0 0;
}
.sidebar-links li {
  margin-bottom: 15px;
}
.sidebar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}