*{
  padding: 0;
  margin: 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #ccc;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee span {
  font-size: 16px;
  font-weight: 500;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.nav-items a:hover{
  transform: scale(1.1);
}

.shop-div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: ital;
  cursor: pointer;
}

.shop-div p{
  font-size: 15px;
  font-family: ital;
  font-weight: 600;
  font-size: larger;
  margin: auto;
}

.logo {
  cursor: pointer;
  color: #ccc;
  transition: all ease .25s
}

.logo:hover {
  font-size: 27px;
  color: #fff;
}

.nav-items {
  user-select: none;
}

.nav-items a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  margin-inline-start: 20px;
  transition: all ease .25s;
}

.nav-items li:hover{
  transform: scale(1.1);
}

nav img{
  height: 190px;
  width: 210px;
}

.main-head{
  margin-top: 50px;
  width: 100vw;
  text-align: center;
}

.main-head .productstag{
  font-size: 35px;
  font-family: ital;
}

.producthead{
  margin-top: 30px;
  font-family: ital;
  font-size: 35px;
  text-align: center;
}

.product-container{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 5px 20px;
}

.product-card{
  height: auto;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.product-container img{
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.product-card h3{
  font-family:'Times New Roman', Times, serif;
}

.product-card .main-p{
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: ital;
  font-size: 15px;
}

.product-card .other-p{
  margin-bottom: 3px;
}

.product-card .Addtocart{
  margin-top: 3px;
  padding: 5px;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 15px;
}

.product-card .Addtocart:hover{
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}

.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination-btn {
  margin: 5px;
  padding: 8px 12px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-btn.active {
  background-color: #007bff;
  color: white;
}


#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: left 0.3s ease;
  padding: 20px;
}

#sidebar.active {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-sidebar {
  font-size: 24px;
  cursor: pointer;
}

#hamburger {
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  z-index: 1000;
}

.sidebar-links {
  list-style: none;
  padding: 0px 0 0 0;
}

.sidebar-links li {
  margin-bottom: 4px;
}

.sidebar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

.sidebar-header .shopby{
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.sidebar-links button{
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  font-family: ital;
  background-color: white;
}

.sidebar-links button:hover{
  text-decoration: underline;
}

.footmain{
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  clear: both;
}

.footmain .foot{
  height: 30vh;
  width: 30%;
}

.footmain .footmainfirst{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 30px;;
}

.footmain .footmainsecond{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footmain .footmainthird{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.footmain .footh3{
  font-size:medium;
  font-weight: 500px;
  margin-bottom: 10px;
}

.footmainfirst .footh3desc{
  font-size: 14px;
}

.footmain a{
  text-decoration: none;
  color: black;
  font-family: itell;
}

.footbody{
  height: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 8px;
}

.footend{
  display: flex;
  justify-content: center;
}

.footend img{
  width: 150px;
  height: 100px;
}